# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Chat Bot with Java/*
!/Simple Chat Bot with Java/task/
/Simple Chat Bot with Java/task/*
!/Simple Chat Bot with Java/task/src

# Project exclude paths
/Topics/Conditional statement/Determining range of an integer  low, mid or high/out/
/Topics/Conditional statement/Determining range of an integer  low, mid or high/out/production/classes/
/Topics/Conditional statement/Leap year/out/
/Topics/Conditional statement/Leap year/out/production/classes/
/Topics/For-loop/Fizz Buzz/out/
/Topics/For-loop/Fizz Buzz/out/production/classes/
/Topics/For-loop/Grades/out/
/Topics/For-loop/Grades/out/production/classes/
/Topics/For-loop/Size of parts/out/
/Topics/For-loop/Size of parts/out/production/classes/
/Topics/For-loop/Squaring odd numbers in a sequence/out/
/Topics/For-loop/Squaring odd numbers in a sequence/out/production/classes/
/Topics/Increment and decrement/Decrement all/out/
/Topics/Increment and decrement/Decrement all/out/production/classes/
/Topics/Integer types and operations/Difference of times/out/
/Topics/Integer types and operations/Difference of times/out/production/classes/
/Topics/Integer types and operations/Reversing input numbers/out/
/Topics/Integer types and operations/Reversing input numbers/out/production/classes/
/Topics/Integer types and operations/Squirrels and nuts/out/
/Topics/Integer types and operations/Squirrels and nuts/out/production/classes/
/Topics/String/Check burgs/out/
/Topics/String/Check burgs/out/production/classes/